<%- include ('../../partials/header.ejs'); %>


<div class="cadastro">

    <div class="cadastro_topo">
        <h3>Cadastro de Artigo</h3>
    </div>
        

    <div class="cadastro_baixo">



        <form action="/articles/save" method="POST"> 
            
            
            <input type="text" name="title" placeholder="Defina o titulo do seu artigo"><br>

            <br><textarea class="form-control" placeholder="Escreva seu Artigo Aqui!" name="body" id="article"></textarea>

            <br><label><strong>Selecione uma categoria</strong></label>
            <select class="form-control" name="categorie">
                <% categories.forEach((categorie)=>{ %>
                <option value="<%= categorie.id %>"><%= categorie.title %></option>
                <% }) %>
            </select>

            <br><input type="submit" class="btna" value="Cadastrar">
      
            

        </form>
    </div>

</div>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language : 'pt_BR',
        selector: '#article',
        plugins: [
        'advlist','autolink','link','imagem','lists','print',
        'preview','hr', 'searchreplace','wordcount','fullscreen',
         'insertdatetime','media', 'save','table','paste','emoticons'
        ]
    })

</script>

<%- include ('../../partials/footer.ejs'); %>